/* body {
    /* background-image: url(../images/GOT.1200.675.jpeg);
    background-repeat: no-repeat; */
    /* background-color: black;
    opacity: 30px;
    background-position: 100%;

}

.container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
 */ 
